/*SCROLLBAR SETTINGS ONLY firefox SUPPORT*/
.side-bar:hover, 
.main-container, 
.categories{
    scrollbar-color: grey transparent;
    scrollbar-width: thin;  
}

@media screen and (min-width: 800px) and (max-width: 1330px){
    
    /*SIDE BAR*/
    .side-bar .widget:not(.widget:first-child){
        display: none;
    }
   
    .side-bar{
        width: unset;
        max-width: 100%;
    }
    .menu-item{
        flex-direction: column;        
    }
    .menu-item .icon{
        margin-right:0;
    }
}


/*PPLAY LIST RESPONSIVENESS*/ 


@media screen and (min-width: 890.01px) and (max-width: 1140px){
    /*3 COLONNE*/
    .play-list-item{
        width: 32%;
    }
}

@media screen and (min-width: 510.01px) and (max-width: 890px) {
    /*2 COLONNE*/
    .play-list-item{
        width: 49%;
    }
}

@media screen and (max-width: 800px){

    /*SIDE BAR*/
    .side-bar{
        display: none;
    }
}

@media screen and (max-width: 510px){
    /*1 COLONNE*/
    
    .play-list-item{
        width: 100%;
        margin-bottom: 30px;
              
    }
}

